.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.lightbox__hidden {
  display: none;
}
.lightbox__active {
  display: flex;
}

.lightbox__figure figcaption {
  margin-left: 20px;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
}

.lightbox__image, .lightbox__video {
  width: 800px;
  height: 800px;
  margin: 20px;
  border-radius: 5px;
  object-fit: cover;
  background-color: #eaeaee;
}

.lightbox .lightbox__previous-arrow,
.lightbox .lightbox__next-arrow {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.lightbox .lightbox__previous-arrow i,
.lightbox .lightbox__next-arrow i {
  font-size: 32px;
  color: #901c1c;
}

.lightbox .lightbox__close-button {
  position: absolute;
  top: 90px;
  right: 200px;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.lightbox .lightbox__close-button i {
  font-size: 38px;
  color: #901c1c;
}
